:root,
:host {
  --color-background: #eeeeee; --color-brand: #7700cf; --color-info: indigo; --color-warning: #f9f06b; --color-success: #57e389; --color-error: #ed333b; --color-text: #deddda; --color-quiet: #e2b4d7; --color-text-brand: #f6f5f4; --color-text-info: #ffffff; --border-color: #ffffff; --color-background-offset: #241f31; --color-background-offset-2: #613583;
}